<p><%= todo_item.content %></p>
<%= button_to "Destroy this todo item", todo_list_todo_item_path(@todo_list_partial, todo_item.id), method: :delete %>

<%= button_to "Completeds", complete_todo_list_todo_item_path(@todo_list_partial, todo_item.id), method: :patch %>