<section class="hero">
    <h2>Tenha tarefas prontas com o nosso todo-list app</h2>
    <p>Nunca se esqueça de uma tarefa novamente. Nossa interface simples e intuitiva facilita o gerenciamento de sua lista de tarefas, para que você possa se concentrar no que é importante.</p>
    <a id = "get-started", href = "/todo_lists">Comece já</a>
</section>

<section class="features">
    <h2>Características</h2>
    <ul>
        <li><i class="fas fa-check"></i> Crie e gerencie multiplas listas</li>
        <li><i class="fas fa-check"></i> Adicione, Edite, e Exclua Tarefas</li>
        <li><i class="fas fa-check"></i> Use a função de log in para ter acesso as suas listas</li>
        <li><i class="fas fa-check"></i> Marque tarefas como completadas</li>
        <li><i class="fas fa-check"></i> Veja tarefas completadas</li>
    </ul>
</section>

<footer>
    <p>copy&; 2023 Todo List App. All rights reserved</p>
</footer>