<div class = "edit_todo_list_wrapper">
  <h1>Editar a lista</h1>

  <%= render "form", todo_list: @todo_list %>

  <br>

  <div class = "edit_buttons_Wrapper">
    <%= link_to "Mostrar essa lista", @todo_list %> |
    <%= link_to "Página inicial", todo_lists_path %>
  </div>
</div>
