/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .todo_lists{
    display: flex;
    flex-direction: column;
 }

 .todo_list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 20px;
 }
 .web-page_wrapper{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0.2px solid rgb(80, 71, 71);
    background-color: rgba(255, 255, 255, 0.692);
    box-shadow: 2px 10px 8px rgb(0, 0, 0);
 }

 body{
    font-family: 'Open Sans', sans-serif;
    background-color: azure;
    color: rgba(0, 0, 0, 0.616);
 }

 #header{
    border: 1px solid rgb(80, 76, 76);
 }

 .index_title_main{
    align-content: center;
    text-align: center;
 }

 .new_list{
    text-align: center;
    padding: 20px 0;
 }

 #header_item{
    font-size: 30px;
    font-weight:lighter;
 }

 .index_title{
    font-size: 20px;
    font-weight:400;
 }
