/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .todo_list{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   padding: 10px;
   border-bottom: 1px solid black;
   margin: 20px;
 }
 .web-page_wrapper{
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 50px;
   margin-bottom: 50px;
   border: 0.2px solid rgb(80, 71, 71);
   background-color: whitesmoke;
   box-shadow: 2px 10px 8px rgb(0, 0, 0);
 }

 body{
   font-family: 'Lato', sans-serif;    
   color: rgba(0, 0, 0, 0.616);
   background-color: rgba(117, 114, 114, 0.637);
    }

 #header{
   border: 1px solid rgb(80, 76, 76);
 }

 .index_title_main{
   align-content: center;
   text-align: center;
   font-size: 60px;
   font-weight: 700;
 }

 .new_list{
   text-align: center;
   padding: 20px 0;
 }

 #header_item{
   font-size: 30px;
   font-weight:lighter;
 }

 .index_title, .show_title{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.420);
   font-size: 50px;
   font-weight: 700;
 }

 .index_description{

 }

 .new_list{
   text-decoration: none;
   color: rgba(0, 0, 0, 0.616);
 }

 .header_title, .index_title_description_wrapper, .show_title_description_wrapper{
   flex-grow: 1;
   text-align: center;
   margin-bottom: 2rem;
 } 

 .index_description_wrapper{
   padding: 20px;
 }

 .todo_item_wrapper{
   display: flex;
   justify-content: space-around;
 }

 .todo_item_options{
   display: flex;
   flex-direction: row;
 }

 .todo-list_options_show{
   text-align: center;
   padding-top: 1rem;
   margin-bottom: 1rem;
   display: flex;
   justify-content: center;
 }

 #todo_list_edit, #todo_list_back, #todo_list_delete{
   text-decoration: none;
   padding-right: 0.5rem;
   color: rgba(0, 0, 0, 0.616);
 }

 #form{
   text-align: center;
   padding-top: 1rem;
 }

 .edit_todo_list_wrapper{
   padding: 1rem;
 }

 .new_todo_wrapper{
  margin-left: 1rem;
 }

 #btn{
   margin-left: 1rem;
   margin-bottom: 1rem;
   background-color: none;
   padding: 0.5rem 0.5rem;
   font-size: 15px;
   cursor: pointer;
   transition: 0.8s;
   border-radius: 7px;
 }

 .btn_delete{
   border: 1px solid rgb(197, 102, 102);
 }

 .btn_delete:hover{
   color: rgba(255, 0, 0, 0.521);
 }

 .btn_complete, .btn_uncomplete{
   border: 1px solid rgb(67, 68, 73);
 }

 .btn_complete:hover, .btn_uncomplete:hover, .btn_edit:hover{
   color: rgba(36, 36, 37, 0.267);
 }

 .btn_edit{
   margin-top: 0.5rem;
 }

 #text_field{
   border: 1px solid rgb(67, 68, 73);
   border-radius: 7px;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   margin-bottom: 1rem;
 }

